<section>
  <div class="row  m-3">
    <div class="col-md-3 ">
      <button class="mb-3 px-5 py-2 rounded-pill border border-dark fw-bold" (click)="goToMainPage()">Volver</button>
      <button  *ngIf="fromRoute === 'admin'" class=" px-2 mx-1 pb-1  rounded-pill border border-dark fw-bold" title="Editar">
        <i class="bi bi-pencil" style="font-size: 1.4rem;"></i>
      </button>
      <button   *ngIf="fromRoute === 'admin' && meal?.id !== undefined  "   (click)="deleteMeal()" class=" px-2 mx-1 pb-1 rounded-pill border border-dark fw-bold delete" title="Eliminar">
        <i class="bi bi-trash" style="font-size: 1.4rem;"></i>
      </button>
      <img [src]="'../../../assets/img/meals/' + meal?.imgUrl" alt="Meal Image" class="img-fluid mb-3">
      <h5 class="fw-bolder">{{ meal?.name }}</h5>
      <p><span class="fw-bold">Tipo: </span>{{ mealType?.name }}</p>
      <p><span class="fw-bold">Ingredientes:</span>{{ meal?.ingredients }}</p>
    </div>
    <div class="col-md-8">
      <p   class="text-center">{{ meal?.recipe }}</p>
    </div>
  </div>
</section>
