section{
    z-index: 0;
    height: 80vh;
    background-color:#FFFEDA;
    overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    button{
        background-color: #F4F47B;
    }
    button:hover {
        background-color: #f4dd89;
        i{
            background-color: #f4dd89;
        }
    }
   
    .delete{
        background-color: #f47f7b;
        i{
            background-color: #f47f7b;
        }
    }
   
    .delete:hover{
        background-color: #f35e58;
        i{
            background-color: #f35e58;
        }
    }
}
section::-webkit-scrollbar {
    display: none; 
  }