section{
    z-index: 0;
    height: 80vh;
    background-color:#FFFEDA;
    overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    .card-title{
        background-color: #FFFDC2;
        padding:10px;
        height:15vh;
        border-radius: 15px;
    }
    img{
        width:100%;
        height:120px;
    }
    .card-body{
        background-color:#FFFEDA;
    }
}

section::-webkit-scrollbar {
    display: none; 
}