section{
    z-index: 0;
    height: 80vh;
    background-color:#FFFEDA;
    overflow-y: auto;
    overflow: hidden;
    .card-title{
        background-color: #FFFDC2;
        padding:10px;
        height:15vh;
        border-radius: 25px;
    }
    img{
        width:100%;
        height:120px;
    }
    .card-body{
        background-color:#FFFEDA;
    }
}

