.header {
    display:flex;
    background-color:#E9E973;
    width:100%;
    height:20%;
    border-bottom: 1px solid #000000;
    top:0;
    .icon{
        color:#f1c900;
        font-size: 3em;
    };
    .pic{
        background-size: cover;
        width: 50px; 
        height: 50px;
    };
    .text{
        color: black;
        font-weight: bold;
    }
  
}

#nav{
    background-color: #f6f648;  
    border:solid;
}
.side {
    margin: 5px;
    border-radius: 30%;
    cursor: pointer;
    width: 70px;
  }
  
  .category-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .category-text {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
