section{
    z-index: 0;
    height: 80vh;
    background-color:#fcfacf;
    overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    i{
        color: #ffc05c;
        background-color:#F4F47B;
    }
     th{
        background-color:#f9f8e4;
    }
    td{
        background-color:#f9f8e4;
    }
    button{
        background-color: #F4F47B;
    }
    .delete{
        background-color: #f47f7b;
        i{
            background-color: #f47f7b;
        }
    }
    button:hover {
        background-color: #f4dd89;
        i{
            background-color: #f4dd89;
        }
    }
    .delete:hover{
        background-color: #dd3f3a;
        i{
            background-color: #dd3f3a;
        }
    }
}
